{% extends 'base.html.twig' %}

{% block body %}

{#  %} if (!session_start()) {
session_start();  #}

{% include('default/header.php') %}

<br><br><br>
<div class="row">
    <div class="col">
        <h3>Creaza un cont</h3>
        <form action="add_cont.php" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="prenume" placeholder="Prenume">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="nume" placeholder="Nume">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="tel" placeholder="Numar de telefon">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="parola" placeholder="Parola">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confpar" placeholder="Confirma parola">
            </div>
            <button type="submit" class="btn btn-primary">Inregistrare</button><br>
            <h4><?php if(isset( $_GET['signInError'])) echo $_GET['signInError']; ?></h4>
        </form>
        <br><br>
    </div>
    <div class="col">
        <h3>Intra in cont</h3>
        <form action="auth.php" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="parola" placeholder="Parola">
            </div>
            <button type="submit" class="btn btn-primary">Login</button><br>
            <h4><?php if(isset( $_GET['logInError'])) echo $_GET['logInError']; ?></h4>
        </form>
        <br><br>
    </div>
</div>

{%  include('default/footer.php') %}


{% endblock %}