{% extends 'base.html.twig' %}

{% block body %}

    {% include('default/header.php') %}
    {% include('default/meniu.php') %}

<br />
<div class="row text-center">
    <div class="col-sm-5">
        <span class="dicount">-{{ produs.discount }}</span>
        <img src="{{ asset('images/'~ produs.image) }}" width="300"><br/><br/>
        {% for lineImg in selImages %}
            <img src="{{ asset('images/'~ lineImg.url) }}" width="100">
        {% endfor %}
    </div>
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-12">
                <h5>{{ produs.fullName }}</h5><hr>
            </div>
            <div class="col-sm-6">
                <h4 style="color:red"><b>{{ produs.getFinalPrice() }} RON cu TVA</b></h4>
                <p><b>Pret vechi <del>{{ produs.price }} RON</del></b></p>
                <p>Vandut si livrat de: </p>

                <p>Opinia clientilor: {{ reviewRating }}</p>

                {% for i in range(1,5) %}
                       {% if i <= reviewRating %}
                       <span class="fa fa-star checked"></span>
                       {% else %}
                            <span class="fa fa-star"></span>
                       {% endif %}
                {% endfor %}
                <br />
                <a href="#review">{{ reviewTotal }} review-uri</a><br>
                <a href="{{ url('review' , {'id':produs.id}) }}">Adauga review</a>
            </div>
            <div class="col-sm-6">
                <a href="add_cos.php?product_id=<?php echo $produs->getID(); ?>&quantity=1"> <button type="button" class="btn btn-primary btn-lg btn-block">Adauga in cos</button></a>
                <br/>
                <button type="button" class="btn btn-danger btn-lg btn-block">Adauga la favorite</button>
                <br/>
                <a href=""><p><i class="fa fa-shopping-cart"></i>Cum cumpar/Livrare</p></a>
                <p><b>Garantie inclusa: </b><a href="">detalii</a></p>
            </div>
        </div>
    </div>
</div><hr><br>
<div class="row">
    <div class="col-sm-12">
        <h4>Descriere</h4>
        <p>{{ produs.description }}</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <h4>Caracteristici</h4><br>
    </div>
</div><hr>
<h4>Te-ar putea interesa si</h4><br>
<div class="row" >

    {% for produsSimilar in produseSimilare %}
        {% if produsSimilar.id != produs.id %}
            <div class="col-sm-2 card-group text-center">
                <div class="card">
                    <span class="test">{{ produsSimilar.discount }} RON</span>
                    <a href="{{ url('description', {'name':produsSimilar.id}) }}"><img style="width:100%" class="card-img-top" src="{{ asset('images/' ~ produsSimilar.image) }}"></a>
                    <div class="card-body">
                        <a id="list" class="card-title" href="{{ url('description', {'name':produsSimilar.id}) }}">{{ produsSimilar.name }}</a>
                    </div>
                    <div class="card-footer deleteRowSpaces">
                        {% set pret = produsSimilar.getFinalPrice() %}
                        <p class="card-text"><b><del>{{ produsSimilar.discount + pret }} RON </del></b></p>
                        <p>{{ pret }} RON </p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div><br><br>

<div class="row">
    <div class="col-sm-12" style="background-color: skyblue">
        <h4>Istoricul tau</h4>
    </div>
</div>
<hr />
<h4 id="review">Review-uri</h4>
{% for review in reviews %}

<div class="row" >
    <div class="col-sm-3">
        <p><b>{{ review.username }}</b></p><br />
        <p>{{ review.addDate.format("d-m-Y") }}</p>
    </div>
    <div class="col-sm-9">
        <h4>{{ review.title }}</h4>
                {% for j in range(1,5) %}
                    {% if j <= review.rating %}
                    <span class="fa fa-star checked"></span>
                    {% else %}
                        <span class="fa fa-star "></span>
                    {% endif %}
                {% endfor %}
        <p>{{ review.message }}</p>
    </div>
</div><hr><br>
{% endfor %}

{%  include('default/footer.php') %}

{% endblock %}











