{% extends 'base.html.twig' %}

{% block body %}

    {#  %} if (!session_start()) {
          session_start();  #}

    {% include('default/header.php') %}
    {% include('default/meniu.php') %}
    {% include('default/promo.php') %}
    {%  include('default/footer.php') %}


{% endblock %}

