{% extends 'base.html.twig' %}

{% block body %}

    {% include('default/header.php') %}
    {% include('default/meniu.php') %}

             <br />
            <div class="row">
                <div class="col-sm-2">
                   <img src="{{ asset('images/'~ produs.image) }}" width="120">
                </div>
                <div class="col-sm-9 my-auto">
                    <h5><b>Adauga review pentru: {{ produs.name }}</h5>
                </div>
            </div><hr>
            <div class="row">
                <div class="col-sm-8">
                    <h5><b>Rating: </b></h5>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                    <a href="">Anuleaza</a>
                    <hr>
                </div>
            <div class="col-sm-4">
                <p>Probleme cu produsul sau transportul?</p>
                <p>Adauga o sesizare <a href=""><b>aici</b></a></p>
                </div>
            </div>
            <h4>Produse similare</h4><br>
            <div class="row" >

                {% for produsSimilar in produseSimilare %}
                    {% if produsSimilar.id != produs.id %}
                        <div class="col-sm-2 card-group text-center">
                            <div class="card">
                                <span class="test">{{ produsSimilar.discount }} RON</span>
                                <a href="{{ url('description', {'name':produsSimilar.id}) }}"><img style="width:100%" class="card-img-top" src="{{ asset('images/' ~ produsSimilar.image) }}"></a>
                                <div class="card-body">
                                    <a id="list" class="card-title" href="{{ url('description', {'name':produsSimilar.id}) }}">{{ produsSimilar.name }}</a>
                                </div>
                                <div class="card-footer deleteRowSpaces">
                                    {% set pret = produsSimilar.getFinalPrice() %}
                                    <p class="card-text"><b><del>{{ produsSimilar.discount + pret }} RON </del></b></p>
                                    <p>{{ pret }} RON </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div> <br />

           {% include('default/footer.php') %}

{% endblock %}


