div.hd1 {background-color:darkblue;}
.navcolor{background-color:darkblue;}
div.hd2 {vertical-align:center;padding:10px;}
.acolor{color:white;}
a:hover {text-decoration:none;color:dimgray;background-color:white;}
div.meniu {background-color:#0098d0;text-align:center;}
div.promo {margin-top:20px;}
a#list {color:black;}

.right{float:right;margin-left:5%;}
.card-text{color:black;}
.card-pret {color:red;}
.test{
    position: absolute;
    top: -10px;
    left: 0px;
    background: #2f2f2f;
    font-size: 11px;
    color: #fff;
    padding: 2px 5px;
    margin-left: 5px;
    cursor: default;
}
.deleteRowSpaces{
    line-height:0.6;
}

.dicount{
    background-color: #ff601d;
    color: #fff;
    padding: 9px 13px;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    border-radius: 3px;
}
.checked {
    color: orange;
}
a.hed {color:white;}
a:link.hed {color:white;}
a:hover.hed {background-color:#0098d0;}
a.cos {background-color:#0098d0;color:white;}
a:link.cos {color:white;}
a#cos1 {text-decoration:none;color:red;}
div.cos-list {background-color:lightgrey;}
.cos-img {height:50px;display:inline-block;}
.cos-item {display:inline-block;}
a#cos-desc {color:black;}
.log-hed {display:inline-block;}
@media screen and (max-width: 1200px) {
    div.example {
        display: none;
    }
}

/* rating stars functionality*/
.rate {
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

a.fin-com {text-decoration:none;color:white;
           background-color:darkcyan;width:100%;
           text-align:center;font-size:150%;}
.cos-col {text-align:center;}
.cos-op {display:inline-block;width:25px;height:25px;}

a#cos2 {text-decoration:none;color:red;display:inline-block;}
span.form {color:blue;}
.fin-but {font-size:150%;}
.acos {text-decoration:none;background-color:#0098d0;color:white;font-size:120%;}
a:hover.acos {background-color:darkblue;color:white;}
a.btn {padding: 0.375rem 0.375rem;}
div.panou {text-align:center;background-color:lightgray;font-size:150%;}
div.admin {text-align:center;background-color:lightgray;}
div.panel {text-align:center;}
div.paginator {text-align:center;}